<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ImdbMovieConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ImdbMoviesDb;User Id=IMDB_ADMIN;Password=1_M@d__B12?3;Connect Timeout=30;"/>
  </connectionStrings>
  <appSettings>
    <add key="defaultImdbId" value="98000"/>
    <add key="batchSize" value="2000"/>
    <add key="csvHeader" value="Title;Year;Released;Runtime;Genre;Country;Poster;Metascore;imdbRating;BoxOffice;Production;Website;ImdbUrl"/>
    <add key="csvExportPath" value="C:\Users\Public\"/>
    <add key="logPath" value="C:\Users\Public\"/>
    <add key="taskCount" value="10"/>
    <add key="apiKey" value="3bc42aaa"/>
  </appSettings>
</configuration>